name: Update NATIX Metrics

on:
  schedule:
    - cron: '20 4 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          cache-version: 0
      - name: Run Natix metrics script
        run: ruby scripts/natix_metrics.rb
      - name: Run Nubila tracker script
        run: ruby scripts/nubila_node_count.rb
      - name: Git add and commit changes
        run: |
          git config --global user.name "Alex Malaszkiewicz"
          git config --global user.email "torrocus@users.noreply.github.com"
          git add -u natix_metrics.csv nubila_node_count.csv
          today=$(date -u +%F)
          git diff --cached --quiet || git commit -m "Add DePIN stats data for $today"
      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
